{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Reactors</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  RUP
                </th>
              </tr>
            </thead>
            <tbody>
              {% for reactors in allreactors %}
              <tr>
                <td>
                  {{ reactors.name }}
                </td>
                <td>
                  {{ reactors.country_id }}
                </td>
                <td>
                  {{ reactors.city }}
                </td>
                <td class="text-center">
                  {{ reactors.rup }}
                </td>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
