{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Countries</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Country
                </th>
                <th>
                  Reactors
                </th>
                <th>
                  Capacity Total
                </th>
                <th class="text-center">
                  Percent Use
                </th>
              </tr>
            </thead>
            <tbody>
              {% for countries in allcountries %}
              <tr>
                <td>
                  {{ countries.country }}
                </td>
                <td>
                  {{ countries.reactors }}
                </td>
                <td>
                  {{ countries.capacity_total }}
                </td>
                <td class="text-center">
                  {{ countries.percent_use }}
                </td>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
