{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Countries</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Country
                </th>
                <th>
                  Reactors
                </th>
                <th>
                  Capacity Total
                </th>
                <th class="text-center">
                  Percent Use
                </th>
              </tr>
            </thead>
            <tbody>
              {% for countries in allcountries %}
              <tr>
                <td>
                  {{ countries.country }}
                </td>
                <td>
                  {{ countries.reactors }}
                </td>
                <td>
                  {{ countries.capacity_total }}
                </td>
                <td class="text-center">
                  {{ countries.percent_use }}
                </td>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title">Reactors</h4>
        <p class="category">A list of reactors</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  Reference Unit Power
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              {% for reactors in allreactors %}
              <tr>
                <td>
                  {{ reactors.name }}
                </td>
                <td>
                  {{ reactors.country_id }}
                </td>
                <td>
                  {{ reactors.city }}
                </td>
                <td class="text-center">
                  {{ reactors.rup}}
                </td>
                <td>
                  {{ reactors.status }}
                </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
